body {
  background: linear-gradient(
      0deg,
      /* white */
      white,
      lightblue,
      lightgray,
      gray

    )
    fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 300% 300%;
  animation: change 10s ease-in-out infinite;
}

main {
  width: fit-content;
  display: flex;
}

.container {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
}

.calc {
  height: 450px;
  width: 300px;
  margin-right: 10px;

  transition: width 0.5s;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.desativado {
  height: 425px;
  width: 0px;
  display: flex;

  align-items: center;
  padding: 22.5px 10px;

  .tela, button{
    opacity: 0;
    pointer-events: none;
  }

  overflow-y: scroll;
  overflow-x: hidden;
}

.hist {
  height: 425px;
  width: 0px;
  display: flex;

  align-items: center;
  padding: 22.5px 10px;

  transition: width 0.5s;

  overflow-y: scroll;
  overflow-x: hidden;
}

.hist-content {
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hist-content > :first-child > :last-child,
.hist-content > :first-child > :first-child {
  box-shadow: black 0px 0px 3px;
}

.ativado {
  height: 425px;
  content-visibility: visible;
  width: 300px;

  .formula,
  .rolagens {
    opacity: 1;
    width: 190px;
  }
  .bloco {
    opacity: 1;
  }
}

button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin: 1px;

  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  opacity: 1;
  transition: opacity 0.5s;

  font-family: "Verdana", Times, serif;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tela {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: 265px;
  height: 50px;
  display: flex;
  padding-right: 15px;
  justify-content: right;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  opacity: 1;
  transition: opacity 0.5s;

}

.bloco {
  width: inherit;
  height: 50x;

  opacity: 0;
  transition: opacity 0.5s;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 5px;
  gap: 5px;
}

.resultado {
  width: 50px;
  height: 50px;
  font-size: x-large;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: auto;
}

.formula {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 0px;
  font-size: large;
  height: 25px;
  padding-right: 15px;
  transition: width 0.5s;

  overflow: auto;
}
.rolagens {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 0px;
  font-size: x-small;
  height: 25px;
  padding-right: 15px;
  transition: width 0.5s;

  overflow: auto;
}

.vertical {
  display: flex;
  width: auto;
  height: inherit;

  justify-content: space-between;
  flex-direction: column;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  overflow: hidden;
}

.sinal,
.numero {
  width: 40px;
  height: 40px;
}

.baixo > .dado {
  height: 40px;
  width: 45.8px;
}

.cima > .dado {
  height: 40px;
  width: 55px;
}

.caixa-botoes {
  display: flex;
  width: inherit;
  justify-content: space-around;
}

.rolar {
  width: 150px;
  height: 40px;
}

.apagar {
  width: 81px;
  height: 40px;
}

@keyframes change {
  0% {
    background-position: 30% 0;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 30% 0;
  }
}


/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.popup.mostrar {
  display: flex;
}

.popup-content {
  background: linear-gradient(
    135deg,
      lightblue,
      lightgray
  );
  border-radius: 20px;
  padding: 30px;
  max-width: 90%;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  animation: slideUp 0.3s ease;
}

.popup-resultado {
  font-size: 3em;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.popup-formula {
  font-size: 1.5em;
  color: black;
  text-align: center;
  word-break: break-all;
}

.popup-rolagens {
  font-size: 1em;
  color: black;
  text-align: center;
  word-break: break-all;
  max-height: 150px;
  overflow-y: auto;
}

.popup-fechar {
  width: 100%;
  height: 45px;
  font-size: 1.2em;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
}

.popup-fechar:active {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(0.98);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
