body {
  background: linear-gradient(
      0deg,
      rgb(159, 159, 159),
      lightblue,
      rgb(85, 85, 255),
      rgb(57, 57, 255)
    )
    fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 300% 300%;
  animation: change 10s ease-in-out infinite;
}

main {
  width: fit-content;
  display: flex;
}

.container {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
}

.calc {
  height: 450px;
  width: 300px;
  margin-right: 10px;

  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.hist {
  height: 425px;
  width: 0px;
  display: flex;

  /* justify-content: space-around; */
  align-items: center;
  padding: 22.5px 10px;

  transition: width 0.5s;

  overflow-y: scroll;
  overflow-x: hidden;
}

body ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hist > :first-child > :last-child,
.hist > :first-child > :first-child {
  box-shadow: black 0px 0px 3px;
}

.ativado {
  height: 425px;
  content-visibility: visible;
  width: 300px;

  .formula,
  .rolagens {
    opacity: 1;
    width: 190px;
  }
  .bloco {
    opacity: 1;
  }
}

button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin: 1px;

  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  font-family: "Verdana", Times, serif;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tela {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: 265px;
  height: 50px;
  display: flex;
  padding-right: 15px;
  justify-content: right;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  overflow: auto;
}

.bloco {
  width: inherit;
  height: 50x;

  opacity: 0;
  transition: opacity 0.5s;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 5px;
}

.resultado {
  width: 50px;
  height: 50px;
  font-size: x-large;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: auto;
}

.formula {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 0px;
  font-size: large;
  height: 25px;
  padding-right: 15px;
  transition: width 0.5s;

  overflow: auto;
}
.rolagens {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 0px;
  font-size: x-small;
  height: 25px;
  padding-right: 15px;
  transition: width 0.5s;

  overflow: auto;
}

.vertical {
  display: flex;
  width: auto;
  height: inherit;

  justify-content: space-between;
  flex-direction: column;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px;

  overflow: hidden;
}

.sinal,
.numero {
  width: 40px;
  height: 40px;
}

.baixo > .dado {
  height: 40px;
  width: 45.8px;
}

.cima > .dado {
  height: 40px;
  width: 55px;
}

.caixa-botoes {
  display: flex;
  width: inherit;
  justify-content: space-around;
}

.rolar {
  width: 150px;
  height: 40px;
}

.apagar {
  width: 81px;
  height: 40px;
}

@keyframes change {
  0% {
    background-position: 30% 0;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 30% 0;
  }
}
